:root {
    --min-width: 300px;
    --max-width: 300px;
    --table-row-line-height: 13px;
    --table-row-font-size: 12px;
    --table-data-padding: 2px;
    --border-radius: 5px;
    --consistent-padding: 0.5rem;
    --highlight-bg: #9ad3bc; /* Soft Blue */
    --selected-bg: #33ccff; /* Bright Blue */
    --primary-bg: #118178; /* Dark Teal */
    --primary-color: #ffffff; /* White */
    --secondary-color: #053b42; /* Dark Teal */
    --table-text-color: #000000; /* Black */
    --table-border-color: rgba(17, 129, 120, 0.4); /* light aqua */
}

.dataSetContainer, .assetName {
    padding: var(--consistent-padding);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
}

.dataSetContainer {
    background-color: #b3eff3;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    min-width: var(--min-width);
    max-width: var(--max-width);
}

.assetName {
    background-color: var(--primary-bg);
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: bold;
}

.iconShowOrCollapse {
    padding-right: var(--consistent-padding);
}

.fieldsCount, .header, .row, .cell, .transformationRuleHyperlink {
    font-size: var(--table-row-font-size);
    line-height: var(--table-row-line-height);
    color: var(--table-text-color);
}

.fieldsCount {
    padding-bottom: var(--consistent-padding);
    text-align: left;
    font-weight: bold;
}

.table {
    display: flex;
    flex-direction: column;
    border-spacing: 0;
}

.row {
    display: flex;
}

.row:hover {
    background-color: var(--highlight-bg);
}

.rowSelected {
    border: 1px solid var(--primary-bg);
    background-color: var(--selected-bg);
}

.cell, .header {
    flex: 1;
    padding: var(--table-data-padding);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    border: 1px solid var(--table-border-color);
}

.header {
    font-weight: bold;
}

.transformationRuleHyperlink {
    text-decoration: underline;
}

.tableConnectorLocation {
    top: 1.7rem;
}

.li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cursorPointer {
    cursor: pointer;
}
