.dataSetContainer {
    padding: 0.5rem;
    background-color: #b3eff3;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.assetName {
    color: #063261;
    padding: 0.5rem;
}

/*Style div like table*/
.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell, .header {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    max-width: 150px;
    min-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.header, .row, .cell {
    font-size: .75rem;
    line-height: 1rem;
    border-collapse: collapse;
}

.header {
    font-weight: bold;
}

.transformationRuleHyperlink {
    font-size: .75rem; /* Extra small size */
    text-decoration: underline;
}