:root {
    --min-width: 300px;
    --max-width: 300px;
    --table-row-line-height: 13px;
    --table-row-font-size: 12px;
    --table-data-padding: 2px;
    --border-radius: 5px;
    --consistent-padding: 0.5rem;
}

.dataSetContainer {
    padding: var(--consistent-padding);
    background-color: #b3eff3;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: var(--border-radius);
    border: 1px solid #053b42;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

.assetName {
    background-color: #118178;
    color: #ffffff;
    padding: var(--consistent-padding);
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: var(--border-radius);
    border: 1px solid #053b42;
}

/*Style row showing fields count and show / collapse button*/
.iconShowOrCollapse {
    padding-right: var(--consistent-padding);
}

.fieldsCount {
    font-size: var(--table-row-font-size);
    line-height: var(--table-row-line-height);
    padding-bottom: var(--consistent-padding);
    text-align: left;
}

/*Style div like table*/
.table {
    display: flex;
    flex-direction: column;
    border-spacing: 0;
}

.row {
    display: flex;
}

.rowSelected {
    border: 1px solid #118178;
    background-color: #33ccff;
}

.row:hover {
    background-color: #8fc1c3;
}

.cell, .header {
    flex: 1;
    padding: var(--table-data-padding);
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.header, .row, .cell {
    font-size: var(--table-row-font-size);
    line-height: var(--table-row-line-height);
}

.header {
    font-weight: bold;
}

.transformationRuleHyperlink {
    font-size: var(--table-row-font-size); /* Extra small size */
    text-decoration: underline;
}

.tableConnectorLocation {
    top: 1.7rem;
}

.li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cursorPointer {
    cursor: pointer;
}